{% extends 'base.html' %}
{% block title %}Вход{% endblock %}

{% block content %}
<div class="row">
    <div class="container-fluid">
        <div class="row justify-content-center mt-3">
            <div class="auth-container">
                <h2 class="text-center">Вход на сайт</h2>
                <form method="post" class="auth-form">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                        <div class="error">{{ field.errors|join:", " }}</div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Войти</button>
                </form>
                <div class="auth-links text-center">
                    Нет аккаунта? <a href="{% url 'users:register' %}">Зарегистрироваться</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}